@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'poppins';
    /* background-color: #ecedef; */
    line-height: 1.8;
}

a {
    text-decoration: none;
}

#Container {
    max-width: 550px;
    margin: 30px auto;
    padding: 20px;
}

.from-wrap {
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #49c1a2;
    border-radius: 15px;
}

.from-wrap h1,
.from-wrap p {
    text-align: center;
}

.from-wrap .from-group {
    margin-top: 15px;
}

.from-wrap .from-group label {
    display: block;
    color: #666;
}
.from-wrap .from-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid  #d5f5ed;
    border-radius: 5px;
    outline: none;
}
.from-group input:focus{
border: 2px solid  #49c1a2;     

}

.from-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: #fff;
    cursor: pointer;
    border: 1px solid #49c1a2;
    font-family: 'poppins';
    font-size: 15px;
    transition: 1s;
    border-radius: 50px;
    margin-bottom: 8px;

}

.from-wrap button:hover {
    background-color: #37a08a;
    /* transition: 1s; */
}

.from-wrap .Bottom-Class {
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
}

footer a {
    color: white;
}
footer a:hover {
    text-decoration: underline;
}

